# /public/.htaccess

Options -Indexes
RewriteEngine On
RewriteBase /

# Route everything to index.php except existing files/folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)?$ index.php?url=$1 [QSA,L]
